local function createGui(parent)
	--ScreenGui1--
	local ScreenGui1 = Instance.new("ScreenGui",parent)
	ScreenGui1["Name"] = "Watermark"
	ScreenGui1["ZIndexBehavior"] = Enum.ZIndexBehavior.Sibling
	----ScreenGui1----
	--Frame2--
	local Frame2 = Instance.new("Frame",ScreenGui1)
	Frame2["Size"] = UDim2.new(0, 267, 0, 38)
	Frame2["Name"] = "Main"
	Frame2["Position"] = UDim2.new(0.0370425694, 0, 0.180887759, 0)
	Frame2["BorderColor3"] = Color3.new(0, 0, 0)
	Frame2["ZIndex"] = 59
	Frame2["BorderSizePixel"] = 0
	Frame2["BackgroundColor3"] = Color3.new(0.0901961, 0, 0.133333)
	----Frame2----
	--Frame3--
	local Frame3 = Instance.new("Frame",Frame2)
	Frame3["Name"] = "DropShadowHolder"
	Frame3["Size"] = UDim2.new(1, 0, 1.31578946, 0)
	Frame3["BackgroundTransparency"] = 1
	Frame3["Position"] = UDim2.new(0, 0, -0.315789461, 0)
	Frame3["BorderColor3"] = Color3.new(0.0901961, 0, 0.133333)
	Frame3["ZIndex"] = 21
	Frame3["BorderSizePixel"] = 0
	Frame3["BackgroundColor3"] = Color3.new(0.0901961, 0, 0.133333)
	----Frame3----
	--ImageLabel4--
	local ImageLabel4 = Instance.new("ImageLabel",Frame3)
	ImageLabel4["ImageColor3"] = Color3.new(0.0901961, 0, 0.133333)
	ImageLabel4["ScaleType"] = Enum.ScaleType.Slice
	ImageLabel4["ImageTransparency"] = 0.5
	ImageLabel4["BorderColor3"] = Color3.new(0.0901961, 0, 0.133333)
	ImageLabel4["SliceCenter"] = Rect.new(49, 49, 450, 450)
	ImageLabel4["BackgroundTransparency"] = 1
	ImageLabel4["AnchorPoint"] = Vector2.new(0.5, 0.5)
	ImageLabel4["Image"] = "rbxassetid://6015897843"
	ImageLabel4["Name"] = "DropShadow"
	ImageLabel4["Position"] = UDim2.new(0.497784793, 0, 0.540000021, 0)
	ImageLabel4["Size"] = UDim2.new(0.995569527, 47, 1, 47)
	ImageLabel4["ZIndex"] = 21
	ImageLabel4["BorderSizePixel"] = 0
	ImageLabel4["BackgroundColor3"] = Color3.new(0.462745, 0.0784314, 1)
	----ImageLabel4----
	--ImageLabel5--
	local ImageLabel5 = Instance.new("ImageLabel",Frame2)
	ImageLabel5["BorderColor3"] = Color3.new(0, 0, 0)
	ImageLabel5["Name"] = "Avatar"
	ImageLabel5["Image"] = "rbxasset://textures/ui/GuiImagePlaceholder.png"
	ImageLabel5["BackgroundTransparency"] = 1
	ImageLabel5["Position"] = UDim2.new(0.0277618524, 0, -0.105263159, 0)
	ImageLabel5["Size"] = UDim2.new(0, 32, 0, 37)
	ImageLabel5["ZIndex"] = 27
	ImageLabel5["BorderSizePixel"] = 0
	ImageLabel5["BackgroundColor3"] = Color3.new(1, 1, 1)
	----ImageLabel5----
	--Script6--
	local Script6 = Instance.new("Script",ImageLabel5)
	----Script6----
	--TextLabel7--
	local TextLabel7 = Instance.new("TextLabel",Frame2)
	TextLabel7["TextColor3"] = Color3.new(1, 1, 1)
	TextLabel7["BorderColor3"] = Color3.new(0, 0, 0)
	TextLabel7["Text"] = "MONT CONFIG"
	TextLabel7["Font"] = Enum.Font.FredokaOne
	TextLabel7["Position"] = UDim2.new(0, 0, -0.315789461, 0)
	TextLabel7["TextSize"] = 14
	TextLabel7["Size"] = UDim2.new(0, 267, 0, 14)
	TextLabel7["BorderSizePixel"] = 0
	TextLabel7["BackgroundColor3"] = Color3.new(0.0901961, 0, 0.133333)
	----TextLabel7----
	--TextLabel8--
	local TextLabel8 = Instance.new("TextLabel",Frame2)
	TextLabel8["TextColor3"] = Color3.new(1, 1, 1)
	TextLabel8["Text"] = "Ping: "
	TextLabel8["Font"] = Enum.Font.GothamMedium
	TextLabel8["Name"] = "PingLabel"
	TextLabel8["Position"] = UDim2.new(0.0914322659, 0, -0.657894731, 0)
	TextLabel8["Size"] = UDim2.new(0, 97, 0, 85)
	TextLabel8["BackgroundTransparency"] = 1
	TextLabel8["TextSize"] = 15
	TextLabel8["BackgroundColor3"] = Color3.new(1, 1, 1)
	----TextLabel8----
	--TextLabel9--
	local TextLabel9 = Instance.new("TextLabel",Frame2)
	TextLabel9["TextColor3"] = Color3.new(1, 1, 1)
	TextLabel9["Text"] = "CMEM: "
	TextLabel9["Font"] = Enum.Font.GothamMedium
	TextLabel9["Name"] = "ClientMemoryLabel"
	TextLabel9["Position"] = UDim2.new(0.486680627, 0, 0.197832614, 0)
	TextLabel9["Size"] = UDim2.new(0, 168, 0, 21)
	TextLabel9["BackgroundTransparency"] = 1
	TextLabel9["TextSize"] = 14
	TextLabel9["BackgroundColor3"] = Color3.new(1, 1, 1)
	----TextLabel9----
	--Script10--
	local Script10 = Instance.new("Script",Frame2)
	Script10["Name"] = "PingScript"
	----Script10----
	--Script11--
	local Script11 = Instance.new("Script",Frame2)
	Script11["Name"] = "CMEMScript"
	----Script11----
	--TextLabel12--
	local TextLabel12 = Instance.new("TextLabel",Frame2)
	TextLabel12["TextColor3"] = Color3.new(1, 1, 1)
	TextLabel12["Text"] = "FPS: "
	TextLabel12["Font"] = Enum.Font.GothamMedium
	TextLabel12["Name"] = "FPSLabel"
	TextLabel12["Position"] = UDim2.new(0.269295007, 0, -0.693113625, 0)
	TextLabel12["Size"] = UDim2.new(0, 123, 0, 88)
	TextLabel12["BackgroundTransparency"] = 1
	TextLabel12["TextSize"] = 15
	TextLabel12["BackgroundColor3"] = Color3.new(1, 1, 1)
	----TextLabel12----
	--Script13--
	local Script13 = Instance.new("Script",Frame2)
	Script13["Name"] = "FPSScript"
	----Script13----
	--Script14--
	local Script14 = Instance.new("Script",Frame2)
	----Script14----
	spawn(function() --Source for Script6
		local script = Script6
		task.wait()
		local Players = game:GetService("Players")
		local player = Players.LocalPlayer
		local PLACEHOLDER_IMAGE = "rbxassetid://0"
		local userId = player.UserId
		local thumbType = Enum.ThumbnailType.HeadShot
		local thumbSize = Enum.ThumbnailSize.Size48x48
		local content, isReady = Players:GetUserThumbnailAsync(userId, thumbType, thumbSize)
		local imageLabel = script.Parent
		imageLabel.Image = (isReady and content) or PLACEHOLDER_IMAGE
		
	end)
	spawn(function() --Source for Script10
		local script = Script10
		local PingLabel = script.Parent.PingLabel
		while wait(1) do
			local Ping = 300-((1/wait())*10)
			if Ping < 1 then
				Ping = 1
			end
			PingLabel.Text = 'Ping: '..math.floor(Ping)
		end
	end)
	spawn(function() --Source for Script11
		local script = Script11
		local CMEMLabel = script.Parent.ClientMemoryLabel
		while wait(1) do
			local CMEM = game:GetService("Stats"):GetTotalMemoryUsageMb()
			CMEMLabel.Text = 'CMEM: '..math.floor(CMEM)
		end
	end)
	spawn(function() --Source for Script13
		local script = Script13
		local FPSLabel = script.Parent.FPSLabel
		while wait(1) do
			local FPS = game:GetService("Workspace"):GetRealPhysicsFPS()
			FPSLabel.Text = 'FPS: '..math.floor(FPS)
		end
	end)
	spawn(function() --Source for Script14
		local script = Script14
		local UIS = game:GetService('UserInputService')
		local frame = script.Parent
		local dragToggle = nil
		local dragSpeed = 0.25
		local dragStart = nil
		local startPos = nil
		
		local function updateInput(input)
			local delta = input.Position - dragStart
			local position = UDim2.new(startPos.X.Scale, startPos.X.Offset + delta.X,
				startPos.Y.Scale, startPos.Y.Offset + delta.Y)
			game:GetService('TweenService'):Create(frame, TweenInfo.new(dragSpeed), {Position = position}):Play()
		end
		
		frame.InputBegan:Connect(function(input)
			if (input.UserInputType == Enum.UserInputType.MouseButton1 or input.UserInputType == Enum.UserInputType.Touch) then 
				dragToggle = true
				dragStart = input.Position
				startPos = frame.Position
				input.Changed:Connect(function()
					if input.UserInputState == Enum.UserInputState.End then
						dragToggle = false
					end
				end)
			end
		end)
		
		UIS.InputChanged:Connect(function(input)
			if input.UserInputType == Enum.UserInputType.MouseMovement or input.UserInputType == Enum.UserInputType.Touch then
				if dragToggle then
					updateInput(input)
				end
			end
		end)
		
	end)
end
createGui(game.CoreGui) --coregui by default you should but change it
else
   gui:selfdestruct
